/**
 * Name:            Line
 * Description:     Add horizontal or vertical line to other components.
 *
 * Component:       `gls-line`
 *
 * Modifiers:       `gls-line-bl`
 *                  `gls-line-b`
 *                  `gls-line-br`
 *                  `gls-line-lt`
 *                  `gls-line-l`
 *                  `gls-line-lb`
 *                  `gls-line-rt`
 *                  `gls-line-r`
 *                  `gls-line-rb`
 *                  `gls-line-tl`
 *                  `gls-line-t`
 *                  `gls-line-tr`
 *
 * ======================================================================== */

/* ========================================================================
   Component: Line
 ========================================================================== */

.gls-line {
    /* set base positioning for line */
    position: relative;
}

.gls-line::before {
    border-color: $line-color;
    border-style: $line-style;
    border-width: 0;
    content: '';
    position: absolute;
}

/* Style modifiers
========================================================================== */

.gls-line-r::before,
.gls-line-rt::before,
.gls-line-rb::before,
.gls-line-l::before,
.gls-line-lt::before,
.gls-line-lb::before {
    border-top-width: $line-size;
    width: $line-width;
}

.gls-line-t::before,
.gls-line-tl::before,
.gls-line-tr::before,
.gls-line-b::before,
.gls-line-bl::before,
.gls-line-br::before {
    border-left-width: $line-size;
    height: $line-height;
}

/**
 * Top
 */

.gls-line-t::before,
.gls-line-tl::before,
.gls-line-tr::before {
    bottom: 100%;
}

.gls-line-t::before {
    left: calc(50% - ($line-size / 2));
}

.gls-line-tl::before {
    left: calc(15% - ($line-size / 2));
}

.gls-line-tr::before {
    left: calc(85% - ($line-size / 2));
}

/**
 * Right
 */

.gls-line-r::before,
.gls-line-rt::before,
.gls-line-rb::before {
    left: 100%;
}

.gls-line-rt::before {
    top: calc(15% - ($line-size / 2));
}

.gls-line-r::before {
    top: calc(50% - ($line-size / 2));
}

.gls-line-rb::before {
    top: calc(85% - ($line-size / 2));
}

/**
 * Left
 */

.gls-line-l::before,
.gls-line-lt::before,
.gls-line-lb::before {
    right: 100%;
}

.gls-line-lt::before {
    top: calc(15% - ($line-size / 2));
}

.gls-line-l::before {
    top: calc(50% - ($line-size / 2));
}

.gls-line-lb::before {
    top: calc(85% - ($line-size / 2));
}

/**
 * Bottom
 */

.gls-line-b::before,
.gls-line-bl::before,
.gls-line-br::before {
    top: 100%;
}

.gls-line-b::before {
    left: calc(50% - ($line-size / 2));
}

.gls-line-bl::before {
    left: calc(15% - ($line-size / 2));
}

.gls-line-br::before {
    left: calc(85% - ($line-size / 2));
}
