// ========================================================================
// Overrides: Countdown
// ========================================================================

@mixin hook-countdown-misc() {
    .uk-countdown-number {
        font-size: var(--countdown-number-font-size, #{$countdown-number-font-size});
        line-height: var(--countdown-number-line-height, #{$countdown-number-line-height});
    }

    .uk-countdown-separator {
        font-size: var(--countdown-separator-font-size, #{$countdown-separator-font-size});
        line-height: var(--countdown-separator-line-height, #{$countdown-separator-line-height});
    }

    :root {
        --countdown-number-font-size: 2rem;
        --countdown-separator-font-size: 1rem;
    }

    // Small breakpoint and up (640px)
    @media (min-width: $breakpoint-small) {
        :root {
            --countdown-number-font-size: 4rem;
            --countdown-separator-font-size: 2rem;
        }
    }

    // Medium breakpoint and up (960px)
    @media (min-width: $breakpoint-medium) {
        :root {
            --countdown-number-font-size: 6rem;
            --countdown-separator-font-size: 3rem;
        }
    }
}
