// ========================================================================
// Component Variables: Animation
// ========================================================================

$animation-duration: 0.5s !default;
$animation-fade-duration: 0.8s !default;
$animation-stroke-duration: 2s !default;
$animation-kenburns-duration: 15s !default;
$animation-fast-duration: 0.1s !default;
$animation-slide-small-translate: 10px !default;
$animation-slide-medium-translate: 50px !default;
