// ========================================================================
// Component Variables: Article
// ========================================================================

$article-margin-top: $global-xlarge-space !default;
$article-title-font-size: $global-xlarge-font-size !default;
$article-title-line-height: 1.2 !default;
$article-meta-font-size: $global-small-font-size !default;
$article-meta-line-height: 1.4 !default;
$article-meta-color: $global-muted-color !default;
$article-meta-link-color: $article-meta-color !default;
$article-meta-link-hover-color: $global-color !default;
