// ========================================================================
// Component Variables: Background
// ========================================================================

$background-default-background: $global-background !default;
$background-muted-background: $global-muted-background !default;
$background-gradient-background: $global-gradient-background !default;
$background-primary-background: $global-primary-background !default;
$background-primary-light-background: var(--color-primary-light) !default;
$background-secondary-background: $global-secondary-background !default;
$background-secondary-light-background: var(--color-secondary-light) !default;
$background-tertiary-background: $global-tertiary-background !default;
