// ========================================================================
// Component Variables: Badge
// ========================================================================

$badge-size: 18px !default;
$badge-padding-vertical: 0 !default;
$badge-padding-horizontal: 5px !default;
$badge-border-radius: 500px !default;
$badge-background: $global-primary-background !default;
$badge-color: $global-inverse-color !default;
$badge-font-size: 11px !default;
$badge-text-decoration: inherit !default;
