// ========================================================================
// Component Variables: Button
// ========================================================================

$button-line-height: 1.25 !default;
$button-small-line-height: 1.125 !default;
$button-large-line-height: 1.25 !default;
$button-font-size: var(--button-font-size) !default;
$button-small-font-size: var(--button-small-font-size) !default;
$button-large-font-size: var(--button-large-font-size) !default;
$button-font-weight: 500 !default;
$button-padding: 12px $global-medium-space !default;
$button-small-padding: $global-xsmall-space $global-small-space !default;
$button-large-padding: $global-small-space $global-medium-space !default;
$button-border-width: $global-border-width !default;
$button-border-radius: $global-medium-border-radius !default;
$button-box-shadow: $global-medium-box-shadow !default;
$button-default-background: var(--color-gray-0) !default;
$button-default-color: var(--button-default-color) !default;
$button-default-border: var(--color-trans-black-5) !default;
$button-default-hover-background: var(--color-gray-1) !default;
$button-default-hover-color: var(--button-default-hover-color) !default;
$button-default-hover-border: var(--color-trans-black-8) !default;
$button-default-active-background: var(--color-gray-2) !default;
$button-default-active-color: var(--button-default-active-color) !default;
$button-default-active-border: var(--color-trans-black-9) !default;
$button-outline-background: white !default;
$button-outline-color: $global-color !default;
$button-outline-border: var(--color-trans-black-5) !default;
$button-outline-hover-background: var(--color-gray-0) !default;
$button-outline-hover-color: $global-emphasis-color !default;
$button-outline-hover-border: var(--color-trans-black-8) !default;
$button-outline-active-background: var(--color-gray-1) !default;
$button-outline-active-color: $global-emphasis-color !default;
$button-outline-active-border: var(--color-trans-black-9) !default;
$button-primary-background: var(--color-primary) !default;
$button-primary-color: $global-inverse-color !default;
$button-primary-border: var(--color-trans-white-3) !default;
$button-primary-hover-background: var(--color-primary-hover) !default;
$button-primary-hover-color: $global-inverse-color !default;
$button-primary-hover-border: var(--color-trans-white-5) !default;
$button-primary-active-background: var(--color-primary-active) !default;
$button-primary-active-color: $global-inverse-color !default;
$button-primary-active-border: var(--color-trans-white-6) !default;
$button-secondary-background: var(--color-secondary) !default;
$button-secondary-color: $global-emphasis-color !default;
$button-secondary-border: var(--color-trans-black-4) !default;
$button-secondary-hover-background: var(--color-secondary-hover) !default;
$button-secondary-hover-color: $global-emphasis-color !default;
$button-secondary-hover-border: var(--color-trans-black-7) !default;
$button-secondary-active-background: var(--color-secondary-active) !default;
$button-secondary-active-color: $global-emphasis-color !default;
$button-secondary-active-border: var(--color-trans-black-8) !default;
$button-tertiary-background: white !default;
$button-tertiary-color: var(--color-primary) !default;
$button-tertiary-border: var(--color-trans-black-5) !default;
$button-tertiary-hover-background: var(--color-gray-0) !default;
$button-tertiary-hover-color: var(--color-primary) !default;
$button-tertiary-hover-border: var(--color-trans-black-8) !default;
$button-tertiary-active-background: var(--color-gray-1) !default;
$button-tertiary-active-color: var(--color-primary) !default;
$button-tertiary-active-border: var(--color-trans-black-9) !default;
$button-danger-background: $global-danger-background !default;
$button-danger-color: $global-inverse-color !default;
$button-danger-border: var(--color-trans-white-3) !default;
$button-danger-hover-background: var(--color-danger-hover) !default;
$button-danger-hover-color: $global-inverse-color !default;
$button-danger-hover-border: var(--color-trans-white-5) !default;
$button-danger-active-background: var(--color-danger-active) !default;
$button-danger-active-color: $global-inverse-color !default;
$button-danger-active-border: var(--color-trans-white-6) !default;
$button-disabled-background: var(--color-white) !default;
$button-disabled-color: $global-muted-color !default;
$button-disabled-border: $global-border !default;
$button-text-line-height: $global-line-height !default;
$button-text-color: $global-emphasis-color !default;
$button-text-hover-color: $global-muted-color !default;
$button-text-hover-decoration: underline !default;
$button-text-disabled-color: var(--color-gray-5) !default;
$button-link-line-height: $global-line-height !default;
$button-link-color: $global-link-color !default;
$button-link-hover-color: $global-link-hover-color !default;
$button-link-hover-text-decoration: underline !default;
$button-link-disabled-color: $global-muted-color !default;
