// ========================================================================
// Component Variables: Column
// ========================================================================

$column-gutter: $global-medium-space !default;
$column-divider-rule-color: $global-border !default;
$column-divider-rule-width: 1px !default;
