// ========================================================================
// Component Variables: Comment
// ========================================================================

$comment-header-margin-bottom: $global-small-space !default;
$comment-title-font-size: $global-medium-font-size !default;
$comment-title-line-height: 1.4 !default;
$comment-meta-font-size: $global-small-font-size !default;
$comment-meta-line-height: 1.4 !default;
$comment-meta-color: $global-muted-color !default;
$comment-list-margin-top: $global-xlarge-space !default;
$comment-list-padding-left: $global-medium-space !default;
$comment-list-border: $global-border-width solid var(--color-primary) !default;
$comment-sublist-border: $global-border-width solid var(--color-secondary) !default;
$comment-subsublist-border: $global-border-width solid var(--color-tertiary) !default;
$comment-primary-padding: $global-medium-space !default;
$comment-primary-background: $global-muted-background !default;
