// ========================================================================
// Component Variables: Countdown
// ========================================================================

$countdown-number-line-height: 0.8 !default;
$countdown-number-font-size: 2rem !default;
$countdown-separator-line-height: 1.6 !default;
$countdown-separator-font-size: 1rem !default;
