// ========================================================================
// Component Variables: Description-list
// ========================================================================

$description-list-term-color: $global-emphasis-color !default;
$description-list-term-margin-top: $global-small-space !default;
$description-list-term-font-size: $global-small-font-size !default;
$description-list-term-font-weight: $global-semibold-font-weight !default;
$description-list-term-text-transform: uppercase !default;
$description-list-term-letter-spacing: 0.025em !default;
$description-list-divider-term-margin-top: $global-small-space !default;
$description-list-divider-term-border-width: $global-border-width !default;
$description-list-divider-term-border: $global-border !default;
