// ========================================================================
// Component Variables: Drop
// ========================================================================

$drop-z-index: 1020 !default;
$drop-margin: $global-small-space !default;
$drop-width: 300px !default;
