// ========================================================================
// Component Variables: Dropdown
// ========================================================================

$dropdown-z-index: 1020 !default;
$dropdown-margin: $global-xsmall-space !default;
$dropdown-min-width: 200px !default;
$dropdown-padding: 25px !default;
$dropdown-background: $global-background !default;
$dropdown-color: $global-color !default;
$dropdown-box-shadow: $global-medium-box-shadow !default;
$dropdown-nav-font-size: $global-small-font-size !default;
$dropdown-nav-item-color: $global-muted-color !default;
$dropdown-nav-item-hover-color: $global-color !default;
$dropdown-nav-subtitle-font-size: $global-small-font-size !default;
$dropdown-nav-header-color: $global-emphasis-color !default;
$dropdown-nav-divider-border-width: $global-border-width !default;
$dropdown-nav-divider-border: $global-border !default;
$dropdown-nav-sublist-item-color: $global-muted-color !default;
$dropdown-nav-sublist-item-hover-color: $global-color !default;
