// ========================================================================
// Component Variables: Grid
// ========================================================================

$grid-gutter-horizontal: $global-medium-space !default;
$grid-gutter-vertical: $grid-gutter-horizontal !default;
$grid-small-gutter-horizontal: $global-small-space !default;
$grid-small-gutter-vertical: $grid-small-gutter-horizontal !default;
$grid-medium-gutter-horizontal: $global-medium-space !default;
$grid-medium-gutter-vertical: $grid-medium-gutter-horizontal !default;
$grid-large-gutter-horizontal: $global-large-space !default;
$grid-large-gutter-vertical: $grid-large-gutter-horizontal !default;
$grid-divider-border-width: $global-border-width !default;
$grid-divider-border: $global-border !default;
