// ========================================================================
// Component Variables: Icon
// ========================================================================

$icon-image-size: 20px !default;
$icon-link-color: $global-muted-color !default;
$icon-link-hover-color: $global-color !default;
$icon-link-active-color: var(--color-gray-8) !default;
$icon-button-size: 48px !default;
$icon-button-border-radius: 500px !default;
$icon-button-background: $global-muted-background !default;
$icon-button-color: $global-muted-color !default;
$icon-button-hover-background: var(--color-gray-1) !default;
$icon-button-hover-color: $global-color !default;
$icon-button-active-background: var(--color-gray-2) !default;
$icon-button-active-color: $global-color !default;
