// ========================================================================
// Component Variables: Iconnav
// ========================================================================

$iconnav-margin-horizontal: $global-small-space !default;
$iconnav-margin-vertical: 13px !default; // calc(8px + 5px)
$iconnav-item-color: $global-muted-color !default;
$iconnav-item-font-size: $global-small-font-size !default;
$iconnav-item-hover-color: $global-color !default;
$iconnav-item-active-color: $global-color !default;
