// ========================================================================
// Component Variables: Leader
// ========================================================================

$leader-fill-content: '.' !default;
$leader-fill-margin-left: $global-small-space !default;
$leader-fill-color: $global-muted-color !default;
