// ========================================================================
// Component Variables: Line
// ========================================================================

$line-size: $global-border-width !default;
$line-style: solid !default;
$line-color: var(--color-primary) !default;
$line-width: 100vw !default;
$line-height: 100vh !default;
