// ========================================================================
// Component Variables: Marker
// ========================================================================

$marker-padding: 5px !default;
$marker-background: $global-tertiary-background !default;
$marker-color: $global-inverse-color !default;
$marker-border-radius: 500px !default;
$marker-hover-color: $global-inverse-color !default;
