// ========================================================================
// Component Variables: Overlay
// ========================================================================

$overlay-padding-horizontal: $global-medium-space !default;
$overlay-padding-vertical: $global-medium-space !default;
$overlay-default-background: var(--color-trans-white-8) !default;
$overlay-primary-background: var(--color-trans-black-5) !default;
