// ========================================================================
// Component Variables: Placeholder
// ========================================================================

$placeholder-margin-vertical: $global-small-space !default;
$placeholder-padding-vertical: $global-medium-space !default;
$placeholder-padding-horizontal: $global-medium-space !default;
$placeholder-background: transparent !default;
$placeholder-border-width: $global-border-width !default;
$placeholder-border: $global-border !default;
