// ========================================================================
// Component Variables: Position
// ========================================================================

$position-small-margin: $global-small-space !default;
$position-medium-margin: $global-medium-space !default;
$position-large-margin: $global-medium-space !default;
$position-margin-offset: 0px !default;
