// ========================================================================
// Component Variables: Progress
// ========================================================================

$progress-height: 16px !default;
$progress-margin-vertical: $global-small-space !default;
$progress-background: $global-muted-background !default;
$progress-border-radius: 500px !default;
$progress-bar-background: $global-primary-background !default;
$progress-small-height: 8px !default;
$progress-large-height: 32px !default;
