// ========================================================================
// Component Variables: Slider
// ========================================================================

$slider-container-margin-top: -11px !default;
$slider-container-margin-bottom: -39px !default;
$slider-container-margin-left: -25px !default;
$slider-container-margin-right: -25px !default;
