// ========================================================================
// Component Variables: Stepper
// ========================================================================

$stepper-inactive-color: $global-muted-color !default;
$stepper-active-color: $global-primary-background !default;
$stepper-dot-size: 10px !default;
$stepper-border-width: 2px !default;
$stepper-item-padding: 20px 10px 0 !default;
