// ========================================================================
// Component Variables: Sticky
// ========================================================================

$sticky-z-index: 980 !default;
$sticky-animation-duration: 0.2s !default;
$sticky-reverse-animation-duration: 0.2s !default;
