// ========================================================================
// Component Variables: Table
// ========================================================================

$table-margin-vertical: $global-small-space !default;
$table-cell-padding-vertical: 16px !default;
$table-cell-padding-horizontal: 12px !default;
$table-header-cell-font-size: $global-font-size !default;
$table-header-cell-font-weight: $global-semibold-font-weight !default;
$table-header-cell-color: var(--color-primary) !default;
$table-footer-font-size: $global-small-font-size !default;
$table-caption-font-size: $global-small-font-size !default;
$table-caption-color: $global-muted-color !default;
$table-row-active-background: var(--color-primary-light) !default;
$table-divider-border-width: $global-border-width !default;
$table-divider-border: $global-border !default;
$table-striped-row-background: $global-muted-background !default;
$table-hover-row-background: $table-row-active-background !default;
$table-small-cell-padding-vertical: 10px !default;
$table-small-cell-padding-horizontal: 12px !default;
$table-large-cell-padding-vertical: 22px !default;
$table-large-cell-padding-horizontal: 12px !default;
$table-expand-min-width: 150px !default;
