// ========================================================================
// Component Variables: Tab
// ========================================================================

$tab-margin-horizontal: 20px !default;
$tab-border-width: $global-border-width !default;
$tab-border: $global-border !default;
$tab-item-padding-horizontal: 10px !default;
$tab-item-padding-vertical: 5px !default;
$tab-item-color: $global-muted-color !default;
$tab-item-hover-color: $global-color !default;
$tab-item-hover-text-decoration: none !default;
$tab-item-active-color: $global-emphasis-color !default;
$tab-item-disabled-color: $global-muted-color !default;
$tab-item-text-decoration: none !default;
$tab-item-border-width: $global-border-width !default;
$tab-item-font-size: $global-small-font-size !default;
$tab-item-text-transform: uppercase !default;
$tab-item-active-border: $global-primary-background !default;
