// ========================================================================
// Component Variables: Thumbnav
// ========================================================================

$thumbnav-margin-horizontal: 15px !default;
$thumbnav-margin-vertical: $thumbnav-margin-horizontal !default;
$thumbnav-item-background: var(--color-trans-white-4) !default;
$thumbnav-item-hover-background: transparent !default;
$thumbnav-item-active-background: transparent !default;
