// ========================================================================
// Component Variables: Totop
// ========================================================================

$totop-padding: 12px 8px !default;
$totop-color: var(--color-trans-white-7) !default;
$totop-background: var(--color-primary) !default;
$totop-border-radius: $global-border-radius !default;
$totop-box-shadow: $global-small-box-shadow !default;
$totop-transition: color 0.1s ease-in-out !default;
$totop-hover-color: var(--color-white) !default;
$totop-active-color: var(--color-white) !default;
